[buildout]
parts = eggs
    activate
    validate-py-eggs
    validate-py
develop = .
newest = false
prefer-final = true
extensions = buildout.dumppickedversions
versions = versions

develop-eggs-directory = buildout/develop-eggs
eggs-directory = buildout/eggs
parts-directory = buildout/parts
bin-directory = buildout/bin

[eggs]
recipe = z3c.recipe.scripts
eggs = sphinx-prompt
dependent-scripts = true
interpreter = python

[activate]
recipe = evg.recipe.activate

[validate-py-eggs]
recipe = zc.recipe.egg
eggs = flake8
entry-points = flake8=flake8.run:main

[validate-py]
recipe = collective.recipe.cmd
on_install = true
on_update = true
folders = sphinx-prompt
cmds = find ${validate-py:folders} -name \*.py | xargs ./buildout/bin/flake8 --max-line-length=120

[versions]
distribute=0.7.3
zc.buildout=2.10.0

Jinja2=2.10
Sphinx=1.6.5
collective.recipe.cmd=0.11
docutils=0.14
evg.recipe.activate = 0.5
flake8=3.5.0
mccabe=0.6.1
pep8=1.7.1
pyflakes=1.6.0
z3c.recipe.scripts = 1.0.1
zc.recipe.egg=2.0.5
