[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-prompt = {editable = true, path = "."}

[dev-packages]
pytest = "==7.0.1"
prospector = {extras = ["with_mypy", "with_bandit"], version = "==1.7.4"}
types-docutils = "==0.18.0"

[requires]
python_version = "3.8"
